
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>loan_id</td>
            <td>loan_type</td>
            <td>loan_balance</td>
            <td>amount</td>
            <td>guaranter</td>
            <td>issuer</td>
            <td>wallet</td>

        </th>
        {% for loans in Loans%}
        <tr>
        <td> {{loans.loan_id}}</td>
        <td> {{loans.loan_type}}</td>
        <td> {{loans.loan_balance}}</td>
        <td> {{loans.amount}}</td>
        <td> {{loans.guaranter}}</td>
        <td> {{loans.issuer}}</td>
        <td> {{loans.wallet}}</td>


        <tr>
            {% endfor %}
    </table>


</body>
</html>

