
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>receipt_type</td>
            <td>date</td>
            <td>receipt_number</td>
            <td>amount</td>
           

        </th>
        {% for recipient in Recipients%}
        <tr>
        <td> {{recipient.receint_type}}</td>
        <td> {{recipient.date}}</td>
        <td> {{recipient.receip_number}}</td>
        <td> {{recipient.amount}}</td>


        <tr>
            {% endfor %}
    </table>


</body>
</html>

