<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Message</td>
            <td>Wallet</td>
            <td>transaction_description</td>
            <td>Transaction_amount</td>
            <td>Transaction_charge</td>
            <td>Receipt</td>
            <td>origin_account</td>
           
        </th>
        {% for transaction in Transactions%}
        <tr>
        <td> {{transaction.Message}}</td>
        <td> {{transaction.Wallet}}</td>
        <td> {{transaction.transaction_description}}</td>
        <td> {{transaction.Transaction_amount}}</td>
        <td> {{transaction.Transaction_charge}}</td>
        <td> {{transaction.origin_account}}</td>
        <td> {{transaction.Receipt}}</td>
        
        <tr>
            {% endfor %}
    </table>


</body>
</html>